# <center> Text with Python

In this tutorial, we will learn how to manipulate text with Python.

# Types

There is only one main type for text in Python: string

- *String* stands for character string, i.e a sequence of *characters*
- Strings are represented between quotes (it can be simple or double quotes)

In [11]:
type("character string")

str

In [12]:
type('character string')

str

In [13]:
type(character string)

SyntaxError: invalid syntax (2690768761.py, line 1)

## String Manipulations

![operations](str_operations.png)

*String* is a class with specific methods

Using this methods we can perform many operations:

- Get information about a string


- Convert to lower or upper case


- Find first and last character


- Add or remove or replace a character


- Apply Mathematical operations to strings


- Format strings using string formatters

- Compare 2 strings

In [36]:
# Let's define a string variable
string_1 = "My Special String  "
string_1

'My Special String  '

### Get information about a string

- Get the Size of a String, i.e the number of characters

In [37]:
len(string_1)

19

- Count occurences of one character of a String

In [38]:
string_1.count("i")

2

- Find first and last character

In [39]:
print("starts with Your:")
print(string_1.startswith("Your"))

print("starts with My:")
print(string_1.startswith("My"))

starts with Your:
False
starts with My:
True

In [40]:
print("ends with String")
print(string_1.endswith("String"))

print("ends with space")
print(string_1.endswith(" "))

# USECASE:  endwith() can be useful to select files (e.g only ending with .csv)

ends with String
False
ends with space
True

### Convert to lower or upper case.

In [41]:
print("lower")
print(string_1.lower())

lower
my special string

In [42]:
print("upper")
print(string_1.upper())

upper
MY SPECIAL STRING

In [43]:
print("is lower")
print(string_1.islower())

is lower
False

In [44]:
print("is lower")
string_1_lower = string_1.lower()
print(string_1_lower.islower())

is lower
True

In [45]:
print("is upper")
print(string_1.isupper())

is upper
False

In [46]:
print("is upper")
string_1_upper = string_1.upper()
print(string_1_upper.isupper())

is upper
True

### Add or remove or replace a character

- **STRIP** to remove spaces

In [47]:
print("strip()")
print("Enlever les espaces et lignes à droite et à gauche du texte")
print(string_1.strip())
print(string_1.strip().endswith(" "))

strip()
Enlever les espaces et lignes à droite et à gauche du texte
My Special String
False

In [48]:
print("lstrip()")
print("Enlever les espaces et lignes à gauche du texte")
print(string_1.lstrip())
print(string_1.lstrip().endswith(" "))

lstrip()
Enlever les espaces et lignes à gauche du texte
My Special String
True

In [49]:
print("rstrip()")
print("Enlever les espaces et lignes à droite du texte")
print(string_1.rstrip())
print(string_1.rstrip().endswith(" "))

rstrip()
Enlever les espaces et lignes à droite du texte
My Special String
False

- **Replace** character

In [50]:
string_2 = "Se Loger"

In [51]:
string_2.replace

'Sa Logar'

**Exercise**

> Remove character "a" from string_2

In [52]:
string_2.= "Se Loger"


# Enter your answer here


# Expected result: "S Logr"

## Format strings using with f-strings

Formatting enables to insert variables dynamically in a string.

**Rules**

- String must start with an f before quotes

- Variable name between brackets {}

- We can apply function to the variables

In [53]:
name = "maxence"
f"Je m'appelle {name}"

"Je m'appelle maxence"

In [54]:
name = "andy"
f"Je m'appelle {name}"

"Je m'appelle andy"

> We can apply function to the variables in the f-string

In [55]:
name = "andy"
f"Je m'appelle {name.capitalize()}"

"Je m'appelle Andy"

In [56]:
last_name = "Barakat"
f"Je m'appelle {name.capitalize() + last_name.capitalize()}"

"Je m'appelle AndyBarakat"

### Exercise

> Print the sentence "Je m'appelle ***YourFirstName*** ***YourLastName***" using f-string

In [13]:

name = "astrid"
last_name = "de Jullien"
f"Je m'appelle {name.capitalize()+' '+ last_name}"
# Enter your answer here


# Expected result: "Je m'appelle Maxence Haouari"

"Je m'appelle Astrid de Jullien"

### Apply Mathematical operations to strings

We can use the same operators (+, -, *) with text as with numbers, but it gives different results

In [58]:
string_a = "aaa"
string_b = "bbb"

In [59]:
string_a + string_b

'aaabbb'

> The "sum" of 2 strings is the concatenation of their characters

In [60]:
string_a * string_b

TypeError: can't multiply sequence by non-int of type 'str'

> We cannot multiply two strings

In [61]:
string_a * 2

'aaaaaa'

> The product of a string and an integer N return N times the string characters

In [62]:
string_a - string_b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

> We cannot substract 2 strings

In [63]:
string_a / string_b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

> We cannot divide 2 strings

### Exercise

> Which of the following operations can be done between 2 strings?

- **+**
- **-**
- **\***
- **/**

**Exercise**

You have 2 strings:
- str1 = "Se"
- str2 = "Loger"

> Create a new variable str_3 = "Se Loger"

In [64]:
# Enter your answer here


# Expected result: str_3 = "Se Loger"

## String and numbers

String and numbers are 2 different types that have different properties

In [65]:
str1 = "2"
int1 = 2

In [22]:
str1 + int1

TypeError: can only concatenate str (not "int") to str

⚠️⚠️⚠️**We cannot sum strings with numbers** ⚠️⚠️⚠️

In [24]:
str1 * int1

'22'

How to compare string and numbers?

In [100]:
str1 == int1

False

⚠️⚠️⚠️**a string and a number will always be different (in the sense of python comparison)**⚠️⚠️⚠️

### We can convert string to numbers AND numbers to strings

In [31]:
converted_int = int(str1)

type(converted_int)

int

In [32]:
converted_str = str(int1)

type(converted_str)

str

> What would return these comparisons?

- converted_str == str1

- converted_int == int1

In [33]:
converted_str == str1

True

In [34]:
converted_int == int1

True

![questions](q_a.gif)

----

# Use case


We want to know the age of every student in this group

To do so we need 2 informations:
    
- Name
- Year of birth


For each student, print the sentence:
    
```python
"Maxence was born in 1993, today he's 28"
```